*body{
    margin: 0%;
    padding: 0%;
}
#cabecera{
    background-color: rgb(191, 191, 204);
    height: 85px;
    width:95%;
    margin-left: 15px;
    margin-right: 20px;
    border: 1px solid #999999;
    padding: 5px; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#menu{
    background-color: black;
    height: 25px;
    width:93.2%;
    display: block;
    padding: 20px; 
    margin-bottom: 2%;
    margin-left: 15px;
    margin-right: 20px;
}
#seccion{
    background-color: rgb(191, 191, 204);
    height: 500px;
    width:95.6%;
    margin-top: 0 ;
    margin-left: 15px;
    
}
/*#articulos{
    background-color: rgb(191, 191, 204);
    height: 110%;
    width: 100%;
}
#foot{
    background-color: rgb(191, 191, 204);
    height: 110%;
    width: 100%;
}