body{
    font: 15px Arial, Helvetica, sans-serif;
    margin: 3%;
    padding: 0;
    background-color: white;
}

/*Estilos generales*/
.contenedor{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
ul{
    margin: 0;
    padding: 0;
}
.boton1{
    height: 38px;
    background-color: #e8491d;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
}
/*estilos de encabezados*/
header{
    background-color: #24282b;
    color: #fff;
    padding: 30px;
    min-height: 70px;
    border-bottom: 5px solid #1293d4;
}
header a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #marca{
    float: left;
}
header #marca h1{
    margin: 0;
}
header nav{
    float: right;
    margin-top: 10px;
}
header .resultado,header .actual a{
    color: #1293d4;
    font-weight: bold;
}
header a:hover{
    color: #ccc;
    font-weight: bold;
}

/*cabecera imagen*/
#cabecera{
    width: 100%;
    min-height: 100%;
    background: url('../img/cabecera.jpeg') no-repeat 0 -400px;
    text-align: center;
    color: #fff;
    background-size: 100%;
   
}
#cabecera h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}
#cabecera p{
    font-size: 20px;
}

/*estilos de formulario de boletin*/
#boletin{
    margin-top: 5px;
    padding: 15px;
    color: #fff;
    background: #24282b;
}
#boletin h1{
    float: left;
}
#boletin form{
    float: right;
    margin-top: 15px;
}
#boletin input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}
/*estilos de cajas de la cabecera*/
#cajas{
    margin-top: 20px;
}
#cajas .caja{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}
#cajas .caja img{
    width: 200px;
}
/*estilos para la codificacion de cada zapato en cada menu*/
.cod{
    color: #e8491d;
}

/*estilos de footer*/
footer{
    padding: 20px;
    margin-top: 20px;
    color: #fff;
    background-color: #1293d4;
    text-align: center;
}
/*estilos para fixear el nav*/
/*.NavFixed {
    position: fixed;
    top: 0;
    width: 89.99%;
    background: rgba(41, 38, 38, 0.973);
    color: white !important;
    z-index: 100px;
    border: none;
    box-shadow:  2px 2px 1px #999;
  }
  .NavFixed a{
    color: white !important;
  } 
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  /*.NavFixed + .content {
    padding-top: 60px;
  }*/


.container{
    width: 200%;
    margin-left: 100%;
}
  .form__top {
	width: 90%;
	text-align: center;
	padding: 2rem 0 1rem;
	border-top: solid .4rem rgb(83, 171, 243);
	margin-bottom: 1rem;
}

.form__top h2 {
	font-weight: bold;
	color: #CAC8C8;
	font-size: 18px;
}

h2 span {
	color: rgb(108, 165, 250);
}

.form__reg {
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.btn__form {
	display: flex;
	justify-content: space-around;
	margin-top: 1rem;
}

.input, .btn__submit, .btn__reset{
	background-color: rgb(248, 225, 195);
	padding: .5rem;
	margin: .5rem 0;
	border: none;
	border-bottom: solid #C8C8C8 .2rem;
	transition: all .5s;
}

.input:focus {
	border-bottom: solid #F39B53 .2rem;
}

.btn__submit, .btn__reset {
	width: 40%;
	border-bottom: none;
	background-color: #31B1E5;
	color: white;
}

.btn__reset {
	background-color: rgb(94, 164, 245);
}

.btn__submit:hover {
	background-color: rgb(72, 166, 243);
}

.btn__reset:hover{
	background-color: rgb(77, 159, 253);
}